* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/fundo.jpg');
  background-size: auto 100vh;
  height: 100vh;
  font-family: 'Roboto Mono', monospace;
}

 /* se a tela for maior do que 400px vai entrar nessa condição */
@media (min-width: 400px) { /* condição */
  body {
    font-size: 18px;
  }
}

/* se a tela for maior do que 600px vai entrar nessa condição */
@media (min-width: 600px) {
  body {
    font-size: 22px;
  }
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
   color: teal;
   display: block; /* emcima fica em bloco e empurra pra baixo */
   transition: background-color 1s, color 1s;
   text-decoration: none; 
   padding: 12px;
}

.menu a:hover /* faz trocar a transição de cor */
{
  background-color: rgb(7, 201, 191) ;
  color: white;
}

.titulo /* animação no titulo */
{
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: linear 2s animacaoTitulo forwards; /* a animaçao vai para frente e depois para */
}

@keyframes animacaoTitulo /* criando a animaçao chamada animaçaotitulo */
{
  100%
  {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.site-title {
  color: whitesmoke;
  text-align: center;
  font-family: 'Baloo 2', cursive;
}

.site-subtitle {
  color: silver;
 /* font-style: italic;
  font-weight: lighter;
  text-align: center; */
  font-size: 2em;
  font-family: 'Baloo 2', cursive;
}

.contato, .portifolio
{
  padding: 2em;
  min-height: 100vh;
}

.portifolio
{
  padding: 1.2em;
}

.portifolio .grid
{
  display: grid;
  gap: 2em; /* para forma uma coluna */
}

/* se a tela for maior do que 544px a coluna dentro do grid vai ficar duas colunas */
@media (min-width: 580px)
{
  .portifolio .grid
  {
    grid-template-columns: 240px 240px; /* serve para criar colunas, no caso aki e duas colunas de 240px*/
  }
}

@media (min-width: 660px)
{
  .portifolio .grid
  {
    grid-template-columns: 240px 240px; /* serve para criar colunas, no caso aki e duas colunas de 240px*/
    align-content: center;
    justify-content: center;
  }
}

@media (min-width: 760px)
{
  .portifolio .grid
  {
    grid-template-columns: 240px 240px; /* serve para criar colunas, no caso aki e duas colunas de 240px*/
    align-content: center;
    justify-content: center;
  }
}

/* se a tela for maior do que 780px a coluna dentro do grid vai ficar tres colunas */
@media (min-width: 845px)
{
  .portifolio .grid
  {
    grid-template-columns: repeat(3,240px); /* serve para criar colunas, no caso aki e tres colunas de 240px*/
    align-content: center;
    justify-content: center;
  }
}

.portifolio figure
{
  text-align: center; /* deixa tudo dentro do figure centralizado */
}

.portifolio h2{
  font-family: 'Roboto Mono', monospace;
  color: whitesmoke;
  margin-bottom: 1.3em;
}

.img-portfolio {
  height: 200px;
  width: 240px;
  object-fit: cover; /* serve para melhorar a visualização */
  transition: transform 500ms; 
}

.img-portfolio:hover
{
  transform: scale(1.2);
}

.contato h2
{
  color: whitesmoke;
}

.contato a
{
  color: white;
  font-size: 4.5em;
  text-decoration: none;
}

.contato a :hover
{
  text-shadow: 0px 0px 10px rgba(255,255,255, 1);
}

.contato .icons
{
  text-align: center;
}

